@model AAL.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="float-right page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="">Warehouse</a></li>
                    <li class="breadcrumb-item"><a>Create</a></li>
                </ol>
            </div>
            <h5 class="page-title">Create Warehouse</h5>
        </div>
    </div>
</div>

 <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ItemID</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="tableContent">
                    <tr>
                        
                    </tr>
                  
                </tbody>
                

            </table>
            <div class="form-group">
                <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target=".bs-add-item-modal-lg">Add Item</button>
            </div>

            <div class="form-group">
                <input type="submit" id = "submitOrder" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
<div class="modal fade bs-add-item-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Add item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>



            <div class="modal-body">
                <div class="form-group">
                <label class="control-label">Item</label>
                <select class="form-control" id="itemId" asp-items="@ViewBag.ItemList">
                </select>

                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">Quantity</label>
                <input class="form-control" id ="quantity"/>
             
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveItem">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
$(document).ready(function() {
    $("#btnSaveItem").click(function() {   
        var itemid =  $("#itemId").val();
        var quantity = $("#quantity").val();

        $("#itemId option[value='" + itemid + "']").each(function() {
    $(this).remove();
    })
        
        
        $("#tableContent").append("<tr><th>" + itemid + "</th><th>" +  quantity + "</th></tr>");
        
    })

    $.ajax({
        url : "",
        dataType : "json",
        method : ""
    }
    )
})
    </script>

    }
