@model AAL.Models.Warehouse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WarehouseId" />
            <div class="form-group">
                <label asp-for="WarehouseName" class="control-label"></label>
                <input asp-for="WarehouseName" class="form-control" />
                <span asp-validation-for="WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseAddress" class="control-label"></label>
                <input asp-for="WarehouseAddress" class="form-control" />
                <span asp-validation-for="WarehouseAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseContact" class="control-label"></label>
                <input asp-for="WarehouseContact" class="form-control" />
                <span asp-validation-for="WarehouseContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
