@model AAL.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="float-right page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="">Category</a></li>
                    <li class="breadcrumb-item"><a>Details</a></li>
                </ol>
            </div>
            <h5 class="page-title">Category Details</h5>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
            Category Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatName)
        </dd>
        <dt class = "col-sm-2">
            Category Parent
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatParent.CatName)
        </dd>
    </dl>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CatId">Edit</a> 
</div>
</div>
</div>
</div>






