@model AAL.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatId" />
            <div class="form-group">
                <label asp-for="CatName" class="control-label">Category Name</label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatParentId" class="control-label">Category Parent</label>
                <select asp-for="CatParentId" class="form-control" asp-items="ViewBag.CatParentId"></select>
                <span asp-validation-for="CatParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
